{% extends 'dashboard_base.html' %}
{% load custom_tags %}
{% load pretest_tags %}

<!-- ▀▄▀▄ panel sidebar -->
{% block sidebar_panel %}
    <div class="flex h-full grow flex-col bg-white pl-[var(--main-sidebar-width)] dark:bg-navy-750">
        <div class="flex h-18 w-full items-center justify-between pl-4 pr-1" >
            <p class="text-base tracking-wider text-slate-800 dark:text-navy-100">Pretest</p>
            <button
                @click="$store.global.isSidebarExpanded = false"
                class="btn size-7 rounded-full p-0 text-primary hover:bg-slate-300/20 focus:bg-slate-300/20 active:bg-slate-300/25 dark:text-accent-light/80 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25 xl:hidden">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="size-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15 19l-7-7 7-7"/>
                </svg>
            </button>
        </div>

        <!-- Sidebar Panel Body -->
        <div
            x-data="{expandedItem:null}"
            class="h-[calc(100%-4.5rem)] overflow-x-hidden pb-6"
            x-init="$el._x_simplebar = new SimpleBar($el);" >
            <ul class="flex flex-1 flex-col px-4 font-inter">
                <li>
                    <a x-data="navLink"
                        href="{% pretest_url user %}"
                        :class="isActive ? 'font-medium text-primary dark:text-accent-light' : 'text-slate-400 hover:text-slate-900 dark:text-navy-200 dark:hover:text-navy-50'"
                        class="flex items-center gap-2 py-2 text-xs-plus tracking-wide outline-hidden transition-colors duration-300 ease-in-out">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="h-4 w-4 opacity-50 transition-all duration-300 group-hover:translate-x-1 group-hover:opacity-100"
                            viewBox="0 0 20 20"
                            fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                clip-rule="evenodd" />
                        </svg> 
                        <span>Pretest</span>
                    </a>
                </li> 
                <li>
                    <a x-data="navLink"
                        href="{% question_set_url user %}"
                        :class="isActive ? 'font-medium text-primary dark:text-accent-light' : 'text-slate-400 hover:text-slate-900 dark:text-navy-200 dark:hover:text-navy-50'"
                        class="flex items-center gap-2 py-2 text-xs-plus tracking-wide outline-hidden transition-colors duration-300 ease-in-out">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="h-4 w-4 opacity-50 transition-all duration-300 group-hover:translate-x-1 group-hover:opacity-100"
                            viewBox="0 0 20 20"
                            fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                clip-rule="evenodd" />
                        </svg> 
                        <span>Paket Soal (Question Set)</span>
                    </a>
                </li>  
                <li>
                    <a x-data="navLink"
                        href="{% lesson_url user %}"
                        :class="isActive ? 'font-medium text-primary dark:text-accent-light' : 'text-slate-400 hover:text-slate-900 dark:text-navy-200 dark:hover:text-navy-50'"
                        class="flex items-center gap-2 py-2 text-xs-plus tracking-wide outline-hidden transition-colors duration-300 ease-in-out">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="h-4 w-4 opacity-50 transition-all duration-300 group-hover:translate-x-1 group-hover:opacity-100"
                            viewBox="0 0 20 20"
                            fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                clip-rule="evenodd" />
                        </svg> 
                        <span>Mata Pelajaran (Lesson)</span>
                    </a>
                </li> 
            </ul> 
        </div>
    </div>
{% endblock sidebar_panel %}

{% block content %}

<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
<div class="grid grid-cols-12 gap-4 sm:gap-5 lg:gap-6">

  <!-- ================= LEFT ================= -->
  <div class="col-span-12 sm:col-span-8">
    <div class="card p-4 sm:p-5">

      <p class="text-base font-medium text-slate-700 dark:text-navy-100">
        {% if question_set %}
            Perbarui Bank Soal (Question Set)
        {% else %}
            Buat Bank Soal (Question Set) Baru
        {% endif %}
      </p>

      <div class="mt-4 space-y-4"> 

        <!-- LESSON -->
        <label class="block">
            <span>Mata Pelajaran</span>

            <span class="relative mt-1.5 flex">
                {{ form.lesson }}

                <span class="pointer-events-none absolute flex h-full w-10 items-center justify-center text-slate-400 peer-focus:text-primary dark:text-navy-300 dark:peer-focus:text-accent">
                    <i class="fa fa-book text-base"></i>
                </span>
            </span>
        </label>

        <!-- NAME -->
        <label class="block">
            <span>Nama Bank Soal</span>

            <span class="relative mt-1.5 flex">
                {{ form.name }}

                <span class="pointer-events-none absolute flex h-full w-10 items-center justify-center text-slate-400 peer-focus:text-primary dark:text-navy-300 dark:peer-focus:text-accent">
                    <i class="fa fa-folder-open text-base"></i>
                </span>
            </span>
        </label>

        <!-- DESCRIPTION -->
        <label class="block">
            <span>Deskripsi</span>

            {{ form.description }}
        </label>

        <!-- ACTIVE -->
        <div class="flex items-center space-x-2">
            {{ form.is_active }}
            <span>Aktif</span>
        </div>

        <!-- BUTTON -->
        <div class="flex justify-end space-x-2">

            <a href="{% question_set_url user %}"
            class="btn space-x-2 bg-slate-150 font-medium text-slate-800 hover:bg-slate-200 dark:bg-navy-500 dark:text-navy-50">
                <span>Batal</span>
            </a>

            <button
                type="submit"
                class="btn space-x-2 bg-primary font-medium text-white hover:bg-primary-focus dark:bg-accent">
                {% if question_set %}
                    Perbarui
                {% else %}
                    Buat
                {% endif %}
            </button>

        </div>

    </div>
    </div>
  </div>

  <!-- ================= RIGHT ================= -->
  <div class="hidden sm:col-span-4 sm:block">
    <div class="sticky top-24 mt-3">
      <ol class="steps is-vertical line-space">

        <li class="step pb-8 before:bg-primary dark:before:bg-accent">
          <div class="step-header rounded-full bg-primary text-white dark:bg-accent">
            1
          </div>
          <h3 class="ml-4 text-slate-700 dark:text-navy-100">
            Input Data
          </h3>
        </li>

        <li class="step pb-8 before:bg-slate-200 dark:before:bg-navy-500">
          <div class="step-header rounded-full bg-slate-200 text-slate-800 dark:bg-navy-500 dark:text-white">
            2
          </div>
          <h3 class="ml-4 text-slate-700 dark:text-navy-100">
            Simpan Paket Soal
          </h3>
        </li>

      </ol>
    </div>
  </div>

</div>
</form> 
{% endblock content %}