{% extends 'dashboard_base.html' %}
{% load custom_tags %}
{% load pretest_tags %}


<!-- ▀▄▀▄ panel sidebar -->
{% block sidebar_panel %}
{% include "panel-sidebar/pretest.html" %}
{% endblock sidebar_panel %}


<!-- ▀▄▀▄ content title % -->
{% block content_title %} 
    <div class=" items-center space-x-4 py-5 lg:py-6">
        <h2 class="text-xl font-medium text-slate-800 dark:text-navy-50 lg:text-2xl" >
            {% if question_set %}Update Question Set {% else %} Create New Question Set{% endif %}
        </h2>
        <div class="hidden h-full py-1 sm:flex"><div class="h-full w-px bg-slate-300 dark:bg-navy-600"></div></div>
        <div class="pb-4 flex-wrap border-b border-slate-200 dark:border-navy-500">
            <ul class="hidden flex-wrap items-center space-x-2 sm:flex">
                <li class="flex items-center space-x-2">
                    <a class="text-grey transition-colors hover:text-primary-focus dark:text-accent-light dark:hover:text-accent"
                    href="{% dashboard_url user %}" ><svg xmlns="http://www.w3.org/2000/svg" class="size-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" > <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10.5L12 3l9 7.5V21a1 1 0 01-1 1h-5v-6H9v6H4a1 1 0 01-1-1v-10.5z" /> </svg></a>
                    <svg x-ignore xmlns="http://www.w3.org/2000/svg" class="size-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
                    </svg>
                </li> 
                <li class="text-primary"><strong>{% if question_set %}Update Question Set {% else %} Create New Question Set{% endif %}</strong></li>
            </ul>
        </div>
    </div> 
{% endblock content_title %}

{% block content %}

<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
<div class="grid grid-cols-12 gap-4 sm:gap-5 lg:gap-6">

  <!-- ================= LEFT ================= -->
  <div class="col-span-12 sm:col-span-8">
    <div class="card p-4 sm:p-5">

      <p class="text-base font-medium text-slate-700 dark:text-navy-100">
        {% if question_set %}Update Question Set {% else %} Create New Question Set{% endif %}
      </p>

      <div class="mt-4 space-y-4"> 

        <!-- LESSON -->
        <label class="block">
            <span>Lesson</span>

            <span class="relative mt-1.5 flex">
                {{ form.lesson }}

                <span class="pointer-events-none absolute flex h-full w-10 items-center justify-center text-slate-400 peer-focus:text-primary dark:text-navy-300 dark:peer-focus:text-accent">
                    <i class="fa fa-book text-base"></i>
                </span>
            </span>
        </label>

        <!-- NAME -->
        <label class="block">
            <span>Name</span>

            <span class="relative mt-1.5 flex">
                {{ form.name }}

                <span class="pointer-events-none absolute flex h-full w-10 items-center justify-center text-slate-400 peer-focus:text-primary dark:text-navy-300 dark:peer-focus:text-accent">
                    <i class="fa fa-folder-open text-base"></i>
                </span>
            </span>
        </label>

        <!-- DESCRIPTION -->
        <label class="block">
            <span>Description</span>

            {{ form.description }}
        </label>

        <!-- ACTIVE -->
        <div class="flex items-center space-x-2">
            {{ form.is_active }}
            <span>Aktif</span>
        </div>

        <!-- BUTTON -->
        <div class="flex justify-end space-x-2">

            <a href="{% question_set_url user %}"
                class="btn space-x-2 bg-slate-150 font-medium text-slate-800 hover:bg-slate-200 dark:bg-navy-500 dark:text-navy-50">
                <span>Batal</span>
            </a>

            <button
                type="submit"
                class="btn space-x-2 bg-primary font-medium text-white hover:bg-primary-focus dark:bg-accent">
                {% if question_set %}
                    Update
                {% else %}
                    Create
                {% endif %}
            </button>

        </div>

    </div>
    </div>
  </div>

  <!-- ================= RIGHT ================= -->
  <div class="hidden sm:col-span-4 sm:block">
    <div class="sticky top-24 mt-3">
      <ol class="steps is-vertical line-space">

        <li class="step pb-8 before:bg-primary dark:before:bg-accent">
          <div class="step-header rounded-full bg-primary text-white dark:bg-accent">
            1
          </div>
          <h3 class="ml-4 text-slate-700 dark:text-navy-100">
            Fill Question Set Data
          </h3>
        </li>

        <li class="step pb-8 before:bg-slate-200 dark:before:bg-navy-500">
          <div class="step-header rounded-full bg-slate-200 text-slate-800 dark:bg-navy-500 dark:text-white">
            2
          </div>
          <h3 class="ml-4 text-slate-700 dark:text-navy-100">
            {% if question_set %}Update{% else %}Create{% endif %}
          </h3>
        </li>

      </ol>
    </div>
  </div>

</div>
</form> 
{% endblock content %}