.paper-texture {
    background-color: #ffffff !important;

    background-image:
        /* Titik biru */
        radial-gradient(
            circle at center,
            rgba(37, 150, 190, 0.50) 0.8px,
            transparent 1px
        ),

        /* Garis horizontal sangat tipis */
        linear-gradient(
            rgba(37, 150, 190, 0.025) 1px,
            transparent 1px
        ),

        /* Garis vertikal sangat tipis */
        linear-gradient(
            90deg,
            rgba(37, 150, 190, 0.025) 1px,
            transparent 1px
        ),

        /* Serat kertas halus */
        radial-gradient(
            circle at 15% 20%,
            rgba(80, 70, 50, 0.025) 0 1px,
            transparent 1.5px
        ),

        radial-gradient(
            circle at 70% 80%,
            rgba(80, 70, 50, 0.02) 0 1px,
            transparent 1.5px
        );

    background-size:
        20px 20px,
        20px 20px,
        20px 20px,
        7px 9px,
        11px 13px;

    background-position:
        0 0,
        0 0,
        0 0,
        2px 4px,
        5px 2px;
}