{% extends 'dashboard_base.html' %}
{% load custom_tags %}
{% load pretest_tags %}

{% block content %}

<form method="POST">
{% csrf_token %}

<div class="grid grid-cols-12 gap-4 sm:gap-5 lg:gap-6">

    <!-- ================= LEFT ================= --> 
    <div class="col-span-12 sm:col-span-8"> 
        <div class="card p-4 sm:p-5"> 
            <p class="text-base font-medium text-slate-700 dark:text-navy-100">
                Update Mata Pelajaran (Mapel)
            </p>

            <div class="mt-4 space-y-4"> 
                <!-- LEVEL NAME -->
                <label class="block"> 
                    <span>Nama Mapel</span> 
                    <span class="relative mt-1.5 flex"> 
                        {{ form.name }} 
                        <span
                            class="pointer-events-none absolute flex h-full w-10 items-center justify-center text-slate-400 peer-focus:text-primary dark:text-navy-300 dark:peer-focus:text-accent">
                            <i class="fa-solid fa-layer-group"></i>
                        </span>
                    </span>
                </label> 
 
                <label class="block">

                    <span>Description</span>

                    {{ form.description }}

                </label> 
                <!-- BUTTON -->

                <div class="flex justify-end space-x-2">

                    <a
                        href="{% lesson_url user %}"
                        class="btn space-x-2 bg-slate-150 font-medium text-slate-800 hover:bg-slate-200 focus:bg-slate-200 active:bg-slate-200/80 dark:bg-navy-500 dark:text-navy-50 dark:hover:bg-navy-450 dark:focus:bg-navy-450 dark:active:bg-navy-450/90">

                        <span>batal</span>

                    </a>

                    <button
                        class="btn space-x-2 bg-primary font-medium text-white hover:bg-primary-focus focus:bg-primary-focus active:bg-primary-focus/90 dark:bg-accent dark:hover:bg-accent-focus dark:focus:bg-accent-focus dark:active:bg-accent/90">

                        <span>Simpan</span>

                    </button>

                </div>

            </div>

        </div>

    </div>

    <!-- ================= RIGHT ================= -->

    <div class="hidden sm:col-span-4 sm:block"> 
        <div class="sticky top-24 mt-3"> 
            <ol class="steps is-vertical line-space"> 
                <li class="step pb-8 before:bg-primary dark:before:bg-accent"> 
                    <div class="step-header rounded-full bg-primary text-white dark:bg-accent"> 
                        1 
                    </div>

                    <h3 class="ml-4 text-slate-700 dark:text-navy-100"> 
                        Input Data 
                    </h3> 
                </li>

                <li class="step pb-8 before:bg-slate-200 dark:before:bg-navy-500"> 
                    <div class="step-header rounded-full bg-slate-200 text-slate-800 dark:bg-navy-500 dark:text-white">
                        2
                    </div>
                    <h3 class="ml-4 text-slate-700 dark:text-navy-100">
                        Simpan Mapel
                    </h3>

                </li>

            </ol>

        </div>

    </div>

</div>

</form>

<script>

document.addEventListener("DOMContentLoaded", function () {

    const input = document.getElementById("id_icon");
    const preview = document.getElementById("icon-preview");

    function updatePreview() {

        let value = input.value.trim();

        if (value === "") {
            value = "fa-solid fa-medal";
        }

        preview.className = value + " text-4xl text-primary";
    }

    input.addEventListener("input", updatePreview);

    updatePreview();

});

</script>

{% endblock %}